@{
    ViewData["Title"] = "Maximize Fit";
}

<header class="navbar-container">
    <nav>
        <a href="#">
            <img src="~/img/714e69a18bded4355d37a7026eff0675.png" alt="maximize fit" class="logo">
        </a>
        <ul class="navbar-items">
            <li><a href="#">home</a></li>
            <li><a href="#">preços</a></li>
            <li><a href="#">contatos</a></li>
            <li><a href="#" class="default-btn">Entrar</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="main-banner">
        <h1>Maximize fit</h1>
        <p>Na Maximize Fit, acreditamos que cada treino é uma oportunidade para evoluir. Venha maximizar seu potêncial com a gente!</p>
    </div>

    <section class="services-container">
        <ul>
            <li>
                <i class="fas fa-shield-alt"></i>
                <h3>segurança</h3>
                <p>Nossa academia conta com equipamentos modernos, manutenção constante e uma equipe preparada para garantir um ambiente seguro em todos os treinos.</p>
            </li>
            <li>
                <i class="fas fa-rocket"></i>
                <h3>performance</h3>
                <p>Treine com estrutura de alto nível, orientação profissional e métodos eficazes para alcançar o máximo desempenho em cada sessão.</p>
            </li>
            <li>
                <i class="fas fa-comments"></i>
                <h3>supporte 24h</h3>
                <p>Esteja sempre amparado! Nossa equipe está disponível 24 horas por dia para tirar dúvidas, oferecer orientações e garantir a melhor experiência de treino.</p>
            </li>
        </ul>
    </section>

    <section class="pricing-container">
        <h2>planos e preços</h2>
        <p>Escolha o plano que melhor atende suas necessidades</p>
        <div class="plans-container">
            <div class="plan">
                <ul>
                    <li class="price">R$: 109,99/mes</li>
                    <li class="plan-name">Básico</li>
                    <li>Acesso à academia em horário comercial</li>
                    <li>Montagem de treino personalizada</li>
                    <li>Acompanhamento básico</li>
                    <li>Uso dos aparalhos de musculação e cárdio</li>
                    <li>Ambiente climatizado e seguro</li>
                    <li>Vestiário com chuveiros disponíveis</li>
                    <li class="plan-btn">Saber mais</li>
                </ul>
            </div>
            <div class="plan">
                <ul>
                    <li class="price">R$: 129,99/mes</li>
                    <li class="plan-name">premium</li>
                    <li>inclui tudo do plano básico</li>
                    <li>Acesso ilimitado a todas as unidades</li>
                    <li>Avaliações fisicas regulares</li>
                    <li>consultoria com personal treiner</li>
                    <li>planos de treino e dieta integrados</li>
                    <li>Convide amigos para treinar ate 4x por mes</li>
                    <li>Descontos em produtos de lojas parceiras</li>
                    <li class="plan-btn">Saber mais</li>
                </ul>
            </div>
            <div class="plan">
                <ul>
                    <li class="price recommended">6x de R$:109,99</li>
                    <li class="plan-name">premium 6 meses</li>
                    <li>inclui tudo do plano básico</li>
                    <li>Acesso ilimitado a todas as unidades</li>
                    <li>Avaliações fisicas regulares</li>
                    <li>consultoria com personal treiner</li>
                    <li>planos de treino e dieta integrados</li>
                    <li>Convide amigos para treinar ate 4x por mes</li>
                    <li>Descontos em produtos de lojas parceiras</li>
                    <li class="plan-btn recommended">Saber mais</li>
                </ul>
            </div>
            <div class="plan">
                <ul>
                    <li class="price">12x de R$:99,99</li>
                    <li class="plan-name">premium 1 ano</li>
                    <li>inclui tudo do plano básico</li>
                    <li>Acesso ilimitado a todas as unidades</li>
                    <li>Avaliações fisicas regulares</li>
                    <li>consultoria com personal treiner</li>
                    <li>planos de treino e dieta integrados</li>
                    <li>Convide amigos para treinar ate 4x por mes</li>
                    <li>Descontos em produtos de lojas parceiras</li>
                    <li class="plan-btn">Saber mais</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="contact-container">
        <h2>Mande uma mensagem</h2>
        <p>Envie uma mensagem, e em até 4 horas um especialista entrara em contato!</p>
        <form>
            <input type="text" name="name" id="name" placeholder="Seu Nome">
            <input type="email" name="email" id="email" placeholder="seu email">
            <textarea name="message" id="message" placeholder="descreva oque vc precisa"></textarea>
            <input type="submit" value="Enviar">
        </form>
    </section>
</main>

<footer>
    <p>hDc Host 2025</p>
</footer>
